:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --team-list-background-color: #ffffff;
  --text-btn-modal-color: #ffffff;
  --primary-text-btn-color: #212121;
  --hover-btn-modal-color: #188ce8;
  --secondary-text-btn-color: #ffffff;
  --primary-text-footer-color: rgba(255, 255, 255, 0.6);
  --secondary-text-footer-color: #ffffff;
  --logo-header-color: #000000;
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ----- START COMPONENTS ----- */

/* ----- START HEADER ----- */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo-studio-header {
  color: var(--logo-header-color);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: inherit;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: inherit;
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}
/* ----- END HEADER ----- */

/* ----- START HERO ----- */
.hero {
  background-color: var(--primary-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-hero-text-color);
}
.hero-btn-modal {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-btn-modal-color);
}
.hero-btn-modal:focus,
.hero-btn-modal:hover {
  background-color: var(--hover-btn-modal-color);

  color: var(--text-btn-modal-color);
}
/* ----- END HERO ----- */

/* ----- START BENEFITS ----- */
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.benefits-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ----- END BENEFITS ----- */

/* ----- START WHAT ARE WE DOING ----- */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* ----- END WHAT ARE WE DOING ----- */

/* ----- START OUR TEAM ----- */
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.team-list-item {
  background-color: var(--team-list-background-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ----- END OUR TEAM ----- */

/* ----- START FOOTER ----- */
.footer {
  background-color: var(--primary-background-color);
}

.logo-studio-footer {
  color: var(--secondary-text-footer-color);
}
.footer-contact-maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  color: var(--secondary-text-footer-color);
}
.footer-contact-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-footer-color);
}
.footer-contact-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-footer-color);
}
/* ----- END FOOTER ----- */

/* ====== !!START PORTFOLIO!! ====== */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--primary-background-color)
  color: var(--primary-text-btn-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-text-btn-color)
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
